.continents_table_heading {
  color: var(--text-color-secondary);
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.continents_table_row {
  display: flex;
  padding: 20px;
  text-align: center;
  background-color: var(--background-color-light);
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: var(--box-shadow);
  font-weight: 500;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
}

.continents_table_name,
.continents_table_code {
  flex: 2;
}
