.country_item_panel_row {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0e0;
}

.country_item_label {
  color: var(--text-color-secondary);
  margin-right: 10px;
  min-width: 40%;
}

.country_item_name {
  width: 43%;
  flex-shrink: 0;
  margin-right: 10px;
}

.countries_table_heading {
  color: var(--text-color-secondary);
  display: flex;
  padding: 20px 10px;
}

.countries_table_heading_item {
  width: 42%;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media screen and (max-width: 720px) {
    width: 40%;
  }
}

.countries_input_wrapper {
  display: flex;
  align-items: center;
  background-color: var(--background-color-dark);
  border-radius: 8px;
  padding-left: 15px;
  color: var(--text-color-secondary);
  width: 40%;
}

.countries_input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countries_input {
  border: none;
  background-color: transparent;
  padding: 16px;
  width: 100%;
  height: 100%;
  outline: none;

  &::placeholder {
    color: var(--text-color-secondary);
  }
}
